.mainLayout {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1677ff;
}

.content {
  min-height: calc(100vh - 64px);
  padding: 10px;
}
